@model IEnumerable<prjProyecto.Models.Pedido>

@{
    ViewBag.Title = "ConsultaXNombre";
}

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        body {
            background-image: url(../../Imagenes/Peli.jpg);
        }

        h2 {
            color: black;
        }

        h3 {
            color: black;
        }
    </style>

</head>
<h2>Facturación</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.NombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PedidoFecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.ActionLink(item.Cliente.NombreCliente,
                               "ventaProductoXCategoria", new { Nombre = item.Cliente.NombreCliente }, new { @style = "color:#000aaa;" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.ActionLink("Detalle", "Detalle", new { id = item.PedidoId }, new { @class = "btn waves-effect waves-orange light-green darken-2" }) |

                @Html.ActionLink("Facturar", "Index", "Home", new { }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to List", "factura", null, new { @class = "btn waves-effect waves-orange" })
</div>