@model prjProyecto.Models.Pedido

@{
    ViewBag.Title = "Delete";
}

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <style>
        body {
            background-color: #FFE0B2;
        }

        h2 {
            color: black;
        }

        h3 {
            color: black;
        }
    </style>
</head>

<h2>Delete</h2>

<h3>Esta Seguro de Querer Eliminarlo?</h3>
<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.NombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.NombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PedidoFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PedidoFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn waves-effect waves-orange" })
        </div>
    }
</div>
